<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volver()">
        <ion-icon color="black" name="arrow-back" slot="start"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Editar de Concierto
    </ion-title>

    <ion-buttons slot="end">
      <ion-toggle [checked]="modoOscuroActivado" (ionChange)="darkPaletteToggleChange($event)">
        Modo Oscuro
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" #content>
  <div class="container">

    <ion-card>
      <ion-card-header class="titulo-personalizado-editarConcierto">Editar Concierto</ion-card-header>
      <ion-card-content>
        <form [formGroup]="conciertoEditForm" (ngSubmit)="editarConcierto()">

          <ion-item *ngIf="concierto?.venta?.estado === 'Inactivo'">
            <ion-icon name="bulb-outline" slot="start"></ion-icon>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" formControlName="nombre" required></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="conciertoEditForm.controls['nombre']?.invalid && conciertoEditForm.controls['nombre']?.touched">
            <p>El nombre es inválido</p>
          </ion-text>

          <ion-item class="ion-margin-top">
            <ion-icon name="book-outline" slot="start"></ion-icon>
            <ion-label position="floating">Descripción:</ion-label>
            <ion-input type="text" formControlName="descripcion" required></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="conciertoEditForm.controls['descripcion']?.invalid && conciertoEditForm.controls['descripcion']?.touched">
            <p>Mínimo 50 caracteres.</p>
          </ion-text>

          <ion-item *ngIf="concierto?.venta?.estado === 'Inactivo'">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label position="floating">Lugar:</ion-label>
            <ion-input type="text" formControlName="lugar" required></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="conciertoEditForm.controls['lugar']?.invalid && conciertoEditForm.controls['lugar']?.touched">
            <p>El lugar es inválido</p>
          </ion-text>

          <ion-item *ngIf="concierto?.venta?.estado === 'Inactivo'">
            <ion-icon name="people-circle-outline" slot="start"></ion-icon>
            <ion-label position="floating">Capacidad:</ion-label>
            <ion-input type="number" formControlName="capacidad" required></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="conciertoEditForm.controls['capacidad']?.invalid && conciertoEditForm.controls['capacidad']?.touched">
            <p>Capacidad inválida</p>
          </ion-text>

          <ion-item *ngIf="concierto?.venta?.estado === 'Inactivo'" class="ion-margin-top">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label position="floating">Fecha y Hora:</ion-label>
            <ion-datetime formControlName="fecha" presentation="date-time"></ion-datetime>
          </ion-item>
          <ion-text color="danger"
            *ngIf="conciertoEditForm.controls['fecha']?.invalid && conciertoEditForm.controls['fecha']?.touched">
            <p>Fecha inválida.</p>
          </ion-text>

          <div *ngIf="concierto?.venta?.estado === 'Inactivo'" formGroupName="venta">
            <ion-item>
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-label position="floating">Fecha Límite de Venta:</ion-label>
              <ion-datetime formControlName="fechaFin"></ion-datetime>
            </ion-item>
            <ion-text color="danger"
              *ngIf="conciertoEditForm.hasError('fechaFinMayor') && conciertoEditForm.get('venta.fechaFin')?.touched">
              <p>La fecha límite de venta no puede ser mayor que la fecha del concierto.</p>
            </ion-text>
            <ion-text color="danger"
              *ngIf="conciertoEditForm.hasError('fechaFinPasada') && conciertoEditForm.get('venta.fechaFin')?.touched">
              <p>La fecha límite de venta debe ser mayor que hoy.</p>
            </ion-text>

            <ion-item>
              <ion-label>Estado Venta:</ion-label>
              <ion-select formControlName="estado" placeholder="Seleccione un estado">
                <ion-select-option value="Activo">Activo</ion-select-option>
                <ion-select-option value="Inactivo">Inactivo</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div *ngIf="concierto?.venta?.estado === 'Inactivo'" formArrayName="promociones" class="ion-margin-top">
            <ion-item lines="none">
              <ion-icon name="pricetag-outline" slot="start"></ion-icon>
              <ion-label>Promociones:</ion-label>
            </ion-item>

            <div *ngFor="let promocion of promociones.controls; let i = index" [formGroupName]="i">

              <ion-item>
                <ion-icon name="pencil-outline" slot="start"></ion-icon>
                <ion-label position="floating">Nombre de la promoción</ion-label>
                <ion-input type="text" formControlName="nombre" required></ion-input>
              </ion-item>
              <div class="error-message" *ngIf="promocion.get('nombre')?.invalid && promocion.get('nombre')?.touched">
                <ion-text color="danger">
                  <p>El nombre debe tener al menos 5 caracteres.</p>
                </ion-text>
              </div>

              <ion-item>
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                <ion-label position="floating">Descuento (%)</ion-label>
                <ion-input type="number" formControlName="descuento" required></ion-input>
              </ion-item>
              <div class="error-message"
                *ngIf="promocion.get('descuento')?.invalid && promocion.get('descuento')?.touched">
                <ion-text color="danger">
                  <p>El descuento debe estar entre 1 y 100.</p>
                </ion-text>
              </div>

              <ion-item>
                <ion-label>Estado de la promoción</ion-label>
                <ion-select formControlName="activa" placeholder="Seleccione">
                  <ion-select-option [value]="true">Oferta Activada</ion-select-option>
                  <ion-select-option [value]="false">Oferta Desactivada</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-button shape="round" color="danger" (click)="eliminarPromocion(i)">
                Eliminar Promoción
              </ion-button>

              <ion-button shape="round" expand="full" (click)="agregarPromocion()">
              Agregar Promoción
            </ion-button>
            </div>
          </div>

          <ion-list *ngIf="concierto?.venta?.estado === 'Inactivo'">
            <div formArrayName="categoriasAsiento">
              <div *ngFor="let categoria of categoriasAsiento.controls; let i = index" [formGroupName]="i">
                <ion-item>
                  <ion-icon name="bulb-outline" slot="start"></ion-icon>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre" required></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="categoria.get('nombre')?.invalid && categoria.get('nombre')?.touched">
                  <p>Nombre inválido</p>
                </ion-text>

                <ion-item>
                  <ion-label position="floating">Precio</ion-label>
                  <ion-icon name="cash-outline" slot="start"></ion-icon>
                  <ion-input type="number" formControlName="precio" required></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="categoria.get('precio')?.invalid && categoria.get('precio')?.touched">
                  <p>Precio inválido</p>
                </ion-text>

                <ion-item>
                  <ion-icon name="people-circle-outline" slot="start"></ion-icon>
                  <ion-label position="floating">Cantidad</ion-label>
                  <ion-input type="number" formControlName="cantidad" required></ion-input>
                </ion-item>
                <ion-text color="danger"
                  *ngIf="categoria.get('cantidad')?.invalid && categoria.get('cantidad')?.touched">
                  <p>Cantidad inválida</p>
                </ion-text>

                <ion-button shape="round" color="danger" (click)="removerCategoriaAsiento(i)">Eliminar Categoria</ion-button>
              </div>
            </div>
            <ion-button shape="round" expand="full" [disabled]="cantidadRestante <= 0 || !categoriasAsiento.valid"
              (click)="agregarCategoriaAsiento()">
              Agregar Categoría
            </ion-button>
          </ion-list>

          <ion-list>
            <div formArrayName="archivosMultimedia">
              <div *ngFor="let archivo of archivosMultimedia.controls; let i = index" [formGroupName]="i">
                <ion-item>
                  <ion-icon name="bulb-outline" slot="start"></ion-icon>
                  <ion-label position="floating">Nombre del Archivo</ion-label>
                  <ion-input type="text" formControlName="nombreArchivo" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="share-outline" slot="start"></ion-icon>
                  <input type="file" accept="image/*,video/*" (change)="onArchivoSeleccionado($event, i)" />
                </ion-item>

                <img *ngIf="archivo.get('urlTemporal')?.value && archivo.get('tipo')?.value.startsWith('image/')"
                  [src]="archivo.get('urlTemporal')?.value" style="max-width:50%; margin-top:10px;">
                <video *ngIf="archivo.get('urlTemporal')?.value && archivo.get('tipo')?.value.startsWith('video/')"
                  [src]="archivo.get('urlTemporal')?.value" controls style="max-width:50%; margin-top:10px;"></video>

                <ion-button shape="round" color="danger" (click)="removerArchivoMultimedia(i)">Eliminar
                  Archivo</ion-button>
              </div>
            </div>
            <ion-button shape="round" expand="full" [disabled]="!archivosMultimedia || !archivosMultimedia.valid"
              (click)="agregarArchivoMultimedia()">
              Agregar Archivo Multimedia
            </ion-button>
          </ion-list>


          <ion-button shape="round" expand="full" type="submit" class="ion-margin-top button-34"
            [disabled]="!conciertoEditForm.valid || cantidadRestante !== 0 || categoriasAsiento.length === 0 || !hayArchivo() || conciertoEditForm.hasError('fechaFinMayor') || conciertoEditForm.hasError('fechaFinPasada')|| !promocionesValidas()">
            Editar Concierto
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">© 2025. Todos los derechos reservados</ion-title>
  </ion-toolbar>
</ion-footer>