<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/home">
        <ion-icon color="black" name="arrow-back" slot="start"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Panel de Edicion de Conciertos
    </ion-title>

    <ion-buttons slot="end">
      <ion-toggle [checked]="modoOscuroActivado" (ionChange)="darkPaletteToggleChange($event)">
        Modo Oscuro
      </ion-toggle>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ng-container *ngIf="conciertos.length > 0; else sinConciertos">

    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let concierto of conciertos">
          <ion-card>
            <ion-card-header>
              <div *ngIf="(concierto.archivosMultimedia?.length ?? 0) > 0">
                <ng-container *ngIf="primerImagen(concierto.archivosMultimedia) as imagen">
                  <img [src]="getSrcArchivo(imagen)" alt="{{ imagen.nombreArchivo }}"
                    style="width: 100%; border-radius: 6px;" />
                </ng-container>
              </div>
            </ion-card-header>

            <ion-card-content>
              <ion-card-title class="ion-text-center">{{ concierto.nombre }}</ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Fecha: {{ concierto.fecha | date: 'short' }} <br />
                Lugar: {{ concierto.lugar }}
              </ion-card-subtitle>
              <ion-button [routerLink]="['/edicion-concierto', concierto.id]" shape="round" expand="full">
                Editar
              </ion-button>
              <ion-button class="ion-margin-top" *ngIf="esVentaHabilitable(concierto.venta)" color="success"
                shape="round" expand="full" (click)="cambiarEstadoVenta(concierto)">
                Habilitar Venta
              </ion-button>

              <ion-button class="ion-margin-top" *ngIf="concierto.venta?.estado === 'Activo'" color="danger"
                shape="round" expand="full" (click)="cambiarEstadoVenta(concierto)">
                Desactivar Venta
              </ion-button>

              <ion-button class="ion-margin-top" *ngIf="concierto.venta?.estado === 'Finalizado'" color="danger"
                shape="round" expand="full" (click)="ventaFinalizada(concierto)">
                Venta Finalizada
              </ion-button>






            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>

  <ng-template #sinConciertos>
    <div class="ion-text-center ion-padding">
      <ion-icon name="sad-outline" size="large"></ion-icon>
      <h2>No hay conciertos disponibles</h2>
    </div>
  </ng-template>

</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">© 2025. Todos los derechos reservados</ion-title>
  </ion-toolbar>
</ion-footer>