<ion-header>
  <ion-toolbar>
    <h2>Bienvenido, {{ usuario.nombreCompleto }}</h2>

    <ion-button *ngIf="usuario.rol === 'administrador' || usuario.rol === 'promotor'" fill="clear" size="small"
      routerLink="/crear-concierto" class="ion-text-center ion-margin-top">
      Crear Concierto
    </ion-button>

    <ion-button *ngIf="usuario.rol === 'administrador'" fill="clear" size="small" routerLink=""
      class="ion-text-center ion-margin-top">
      Panel de Control
    </ion-button>
    <ion-toggle [checked]="modoOscuroActivado" (ionChange)="darkPaletteToggleChange($event)" slot="end">
      Modo Oscuro
    </ion-toggle>

  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">© 2025. Todos los derechos reservados</ion-title>
  </ion-toolbar>
</ion-footer>