<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-list>
  <ion-item *ngFor="let item of historial">
    <ion-label>
      <strong>{{ item.nombreConcierto }}</strong><br>
      Fecha de compra: {{ item.fecha | date:'dd/MM/yyyy, hh:mm:ss a' }}<br>
      Asientos adquiridos: {{ item.asientos }}<br>
      Precio total: ₡{{ item.precioTotal }}
    </ion-label>
  </ion-item>
</ion-list>

  <ng-template #sinCompras>
    <ion-card>
      <ion-card-content>
        No se encontraron compras en tu historial.
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
